#select {
  height: 50px;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: none;
  background-color: white;
  border-radius: 40px;
  box-sizing: border-box;
  overflow-x: hidden !important;
}

.option {
  /* height: 50px;
  width: 80%; */
  color: red;

  /* display: block;
  height: 30px;
  color: red;
  font-size: 13px;
  font-weight: normal;
  padding-right: 50px !important;
  /* padding: 0px !important; 
  width: 30px !important;
  white-space: wrap !important;
  overflow-x: hidden !important; */

  /* min-height: 20px; */
  /* color: black; */
  background: white;
  font-weight: small;
  margin-right: 50%;
  display: flex;
  height: 25px;
  width: 50px;
  box-sizing: border-box;
  padding: 0px 2px 1px;
  box-sizing: border-box;
  overflow-x: hidden !important;
}
